<nav class="navbar navbar-expand-sm navbar-dark bg-danger">
    <a class="navbar-brand" href="#">All Learn Angular</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="movies" routerLinkActive="active">Movies <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="news" routerLinkActive="active">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="forms" routerLinkActive="active">Form</a>
          </li>    
          <li class="nav-item">
            <a class="nav-link" routerLink="card" routerLinkActive="active">card</a>
          </li>      
      </ul>
    </div>
  </nav>
